##
# config.yml template
# for usage, see:
#   spec-live/spec_helper.rb
#   spec-live/backups/config.rb
##
---
syncer:
  cloud:
    s3:
      specs_enabled: false
      access_key_id:
      secret_access_key:
      bucket:
      region:
encryptor:
  gpg:
    specs_enabled: false
